#local_rollover-your_units {
    max-width: 100%;
}

.local_rollover_samples_entries li {
    font-weight: bold;
    list-style: none;
}

.local_rollover_samples_entries li li {
    font-weight: normal;
}

.local_rollover_samples_error {
    color: #800;
    padding-left: 20px;
}

.local_rollover_activity_rules_list li {
    border-radius: 5px;
    padding: 0 5px;
}

.local_rollover_activity_rules_list li code {
    font-size: 80%;
}

.local_rollover_activity_rules_list li:hover {
    background-color: lightgrey;
}

.local_rollover_activity_rules_list .actions a {
    color: #006cc1;
    text-decoration: none;
}

.local_rollover_activity_rules_list .actions a:hover {
    color: #208ce1;
    text-decoration: none;
}
