.local_rollover_samples_regex {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-family: monospace;
    font-size: 80%;
    padding: 3px 10px;
}

.local_rollover_samples_entries li {
    font-weight: bold;
    list-style: none;
}

.local_rollover_samples_entries li li {
    font-weight: normal;
}
