{{!
    This file is part of Moodle Course Rollover Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<section class="local_rollover_samples">
    <h3>
        {{title}}
        <span class="local_rollover_samples_regex" style="display: none;"></span>
        &nbsp;
        <i class="local_rollover_samples_loading fa fa-refresh fa-spin" style="display: none;"></i>
    </h3>
    <article class="local_rollover_samples_entries" style="display: none;"></article>
</section>
